*{
    color: white;
    font-family: "Bahnschrift Semi-Light Condensed", "Consolas", "Sans-serif";
    margin: 0;

}
header{
    width: 100vw;
    position: relative;
    
    left: 0;
    top: 0;
    border-bottom: 1px grey solid;
    background-color: #52328f;
    height: 10vh;
    align-content: center;
    line-height: 10vh;
}
header > h1{
    font-size: 5vh;
    display: inline-block;
    margin: 0;
    height: 10vh;
    margin-left: 1vw;
}
.header_button{
    position: relative;
    display: block;
    border-left: 1px grey solid;
    height: 10vh;
    float: right;
    font-size: 4vh;
    width: 20vw;
    text-align: center;
    
}
body{
    background-color: #2e2e2e;
    margin: 0;
}
main{
    width: 100vw;
    height: 75vh;
}
.list{
    position: static;
    display: block;
    width: 75vw;
    align-self: center;
    margin: auto;
    margin-top: 5vh;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
.task{
    width: 75vw;
    height: 5vh;
    font-size: 4vh;
    overflow: hidden;
    border: 1px solid black;
}
.open{
    height: 20vh !important; 
}
.time{
    float: right;
    margin-left: 5vw;
}
.isOdd{
    background-color: #a0a0a0;
}
.isEven{
    background-color: #858585;
}
.arrow{
    float: right;
    margin: 2vh;
    height: 1vh;
}
.hovering{
    background-image: linear-gradient( lightgrey, darkgrey)
}
.notes{
    visibility: hidden;
    min-width: 50vw;
    max-width: 70vw;
    max-height: 10vh;
    overflow: hidden;
    text-align: left;
    float: left;
}
.open > .notes{
    position: relative;
    visibility: visible !important;
    top: 10vh;
}
select{
    color: black;
}
button{
    color: black;
}
option{
    color: black;
}
input{
    color: black;
    display: inline-block;
}
textarea{
    color: black;
    font-size: 20px;
}